<% provide(:title, "検索") %>
<%= form_tag('/help', method: :get) do %>　
    <%= text_field_tag :book, "",  id: "book_search", name: "keyword", placeholder: "キーワードを打ち込んでください", style: "width: 200px;"%><button title="検索" type="submit">検索</button>
<% end %>
<% if logged_in? %>
 <h3><%= @test.pref %> <%= @test.city %>の図書館</h3>
 <% else %>
 <h3>ログインしてください<h3>
<% end %>
<h2>検索結果</h2>


 <% @items.each do |book| %>
    <div class="list">
      <table>
      <tr>
      <th> <%= image_tag(book["img"]) %> </th>
      <th>
        <ul>
        <li><%= "#{book["title"]}"%></li>
        <li><%= link_to "#{book['price']}"+"円(楽天)","#{book['Pref']}"%></li>
      <li>
      <% if book["libkey"].nil? %>
      <h4>ページを更新してください</h4>
      <% else %>
      <% book["libkey"].keys.each do |status| %>
      <%= status %>:<%= link_to "#{book["libkey"]["#{status}"]}","#{book["reserve"]}" %>
      <% end %>
      <% end %>
      </li>
    </ul>

    </table>
    </div>
 <% end %>
